header{
	background-color:#801A66;
	padding: 50px;
	text-align: center;
}

h1 {

	font-size: 110px;
	color: white;
	font-family: Times;
}

header img{
	border-radius: 50px;

}

.button {
	font-size: 30px;
	background-color: red;
	font-color:yellow;
}


.home{
	float: right;
	width: 450px;
	height: 450px;
}
.home1{
	float: left;
	width: 450px;
	height: 450px;
	 

}
.menu {
	color: black;
	font-style: bold;
	float: left;
	background-color: orange;
	font-size: 35px;
	border: 2px;
	border-color: red;


}

p {
	font-style: italic;
	font-size: 30px;
}

.content{
	max-width: 1000px;
	margin: auto;
	background-color:#C2C27A; 
}

img.big-img{
	max-width: 100%;
}

h2{
	font-style: bold;
	font-size: 40px;
	background-color: #D6A352;
}


}

p{

	font-size: 20px;
}


footer {
	max-width: 1000px;
	margin: auto;
	background-color: orange; 
}



a {
color: #286d05;
}

ol {
	color: red;

}

.links {

	color:black;
}

a:hover {
color: black;
}

body{
	background-color:#A61247;
	font-style: bold;
	font-size: 20px;
}


/*<header>
	<img src="img/profile.jpg">
	<h1>The Flash</h1>
</header>*/