body {
	background: lightblue;
}
		h1 {
		color: red;
		font-size: 75px;
		font-family: Arial black;
		text-decoration: underline;		
			}

		#first{
			font-size: 100px;
				}
		.small {

			font-size: 30px;
				}
		
		h2 {
			color: orange;
			font-size: 65px;
			font-family: Arial black;
			text-decoration: underline;	
			}
		
		div {


		background-color:lightgrey;	
		}
		span{

			font-style: italic;
		}
		
		h2 span {

			text-decoration: line-through;
		}